*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
*.pdf
/texfiles
code/cs.hs.tex
code/highlight.sty
code/ptm.hs.tex
code/factorial-main.dump-asm.hs.tex
code/factorial-main.dump-cmm1.hs.tex
code/factorial-main.dump-cmm2.hs.tex
code/factorial-main.dump-ds1.hs.tex
code/factorial-main.dump-ds2.hs.tex
code/factorial-main.dump-opt-cmm.hs.tex
code/factorial-main.dump-parsed.hs.tex
code/factorial-main.dump-prep1.hs.tex
code/factorial-main.dump-prep2.hs.tex
code/factorial-main.dump-prep3.hs.tex
code/factorial-main.dump-renamer.hs.tex
code/factorial-main.dump-simpl1.hs.tex
code/factorial-main.dump-simpl2.hs.tex
code/factorial-main.dump-stg1.hs.tex
code/factorial-main.dump-stg2.hs.tex
code/factorial-main.dump-typechecker.hs.tex
code/factorial-main.hs.tex
code/factorial.hs.tex
