*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
*.pdf
/texfiles
code/fst.hs.tex
code/graph1.hs.tex
code/graph2.hs.tex
code/highlight.sty
code/id1.hs.tex
code/id2.hs.tex
code/id3.hs.tex
code/idris.hs.tex
code/io1.hs.tex
code/io2.hs.tex
code/io3.hs.tex
code/map1.hs.tex
code/map2.hs.tex
code/map3.hs.tex
code/map4.hs.tex
code/map5.hs.tex
code/map6.hs.tex
code/map7.hs.tex
code/map8.hs.tex
code/pair.hs.tex
code/pair1.hs.tex
code/plus1.hs.tex
code/plus2.hs.tex
code/plus3.hs.tex
code/plus4.hs.tex
code/plus5.hs.tex
code/plus6.hs.tex
